body {
    font-family: "Lato", sans-serif;
    background-color: black;
}

@keyframes title {
    0% {
        opacity: 0;
        top: 0;
    }

    100% {
        opacity: 1;
        top: 100px;
        left: 350px;
    }
}

@keyframes hand {
    0% {
        opacity: 0;
        left: 0;
    }
    100% {
        opacity: 1;
        left: 410px;
    }
}

h1 {

    position: absolute;
    top: 100px;
    left: 350px;
    color: white;
    font-weight: bold;
    font-size: 150px;
    animation-name: title;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    display: inline-block;
}

.otree-body {
    max-width: 100%;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 1px 0;
    opacity: 0.8;
    font-size: 10px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 10px;
    outline: 2px solid #808080;
    transition: 0.5s;
    background-image: url(sb_image.jpg);

}

.sidenav a {
    padding: 8px 8px 8px 20px;
    font-size: 25px;
    color: white;
    display: block;
}

.sidenav p {
    padding: 15px 20px 2% 20px;
    font-size: 15px;
    color: white;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    /*position: relative;
    top: 250px;
    left: 135px;*/
    float: right;
    font-size: 36px;
    margin-right: 15px;
}

.sidenavStats p {
    font-family: Palatino;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@keyframes button1 {
    0% {
        opacity: 0;
        left: 0;
    }
    100% {
        opacity: 1;
        left: 800px;
    }
}

.btn {
    position: relative;
    display: inline-block;
    border-radius: 5px;
    color: darkgreen;
    background-color: white;
    padding: 5px 10px 8px 10px;
    cursor: pointer;
}

.example {
    position: relative;
    width: 200px;
    height: 200px;
    bottom: 100px;

}

.btn:hover {
    background-color: #4CAF50;
    color: white;
}

.deck {
    position: absolute;
    left: 47%;
    bottom: 42%;
    animation-name: deck1;
    animation-duration: 3s;

}

.center-middle {
    position: absolute;
    left: 47%;
    bottom: 35%;
}

@keyframes deck1 {
    0% {
        opacity: 0;
        left: 0;
    }
    100% {
        opacity: 1;
        left: 450px;
    }
}

#table-area {
    position: relative;
    height: 800px;
    background: url("temptable.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.cardsize {
    width: 100px;
    height: 150px;
}

.grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    animation-name: hand;
    animation-duration: 4s;
    display: inline-block;
    position: relative;
    grid-column-gap: .5fr;
    left: 410px;
    bottom: 590px;

}

.allign-top {
    position: absolute;
    left: calc(50% - 250px);
    top: 0;
}

.allign-bottom {
    position: absolute;
    left: calc(50% - 250px);
    bottom: 0;
}

.column {

}

	